/* carbon-go styles */

.bx-go--sm,
.bx-go--md,
.bx-go--lg,
.bx-go--xlg,
.bx-go--max {
	display: none;
}

@media (max-width: 671px) {
	.bx-go--sm {
		display: block !important;
	}
}

@media (min-width: 672px) and (max-width: 1055px) {
	.bx-go--md {
		display: block !important;
	}
}

@media (min-width: 1056px) and (max-width: 1311px) {
	.bx-go--lg {
		display: block !important;
	}
}

@media (min-width: 1312px) and (max-width: 1583px) {
	.bx-go--xlg {
		display: block !important;
	}
}

@media (min-width: 1584px) {
	.bx-go--max {
		display: block !important;
	}
}